<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading estore-panel-heading">
            <div class="panel-title estore-panel-title">
                <label>All Brands</label>
            </div>
        </div>
        <div class="panel-body" ng-cloak>
            <div class="row estore-form-row">
                <a ui-sref="brandEdit({ brandKey: null })">Add new brand</a>
            </div>            
            <div class="row estore-form-row">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Brand Name</th>
                                <th>Description</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="brand in brands">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ brand.BrandName }}</td>
                                <td>{{ brand.Description }}</td>                                
                                <td><a ui-sref="brandEdit({ brandKey: brand.BrandKey })">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="message-error" ng-show='(messageError.length > 0)'>
                        <div ng-repeat="msg in messageError">{{ msg }}</div>
                    </div>
                    <div class="message-success" ng-show='(messageSuccess.length > 0)'>
                        <div ng-repeat="msg in messageSuccess">{{ msg }}</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer estore-panel-footer">
            <ng-pagination pagination="pagination" on-get-data="getBrands()" />
        </div>
    </div>
</div>
