<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ vm.formTitle }}</h3>
        </div>
        <div class="panel-body" ng-cloak>
            <!-- <div class="container" ng-cloak>
                <h3>Change Password</h3>                
            </div> -->
            <form name="frmPassword" class="form-horizontal">
                <div class="form-group">
                    <label for="OldPassword" class="col-sm-2 control-label">Old Password</label>
                    <div class="col-sm-6">
                        <input type="password" name="OldPassword" class="form-control" placeholder="**********" ng-model="vm.user.OldPassword" maxlength="20" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='frmPassword.OldPassword.$dirty && frmPassword.OldPassword.$invalid'>Please input Old Password</div>
                </div>

                <div class="form-group">
                    <label for="NewPassword" class="col-sm-2 control-label">New Password</label>
                    <div class="col-sm-6">
                        <input type="password" name="NewPassword" class="form-control" placeholder="**********" ng-model="vm.user.NewPassword" maxlength="20" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='frmPassword.NewPassword.$dirty && frmPassword.NewPassword.$invalid'>Please input Old Password</div>
                </div>

                <div class="form-group">
                    <label for="ConfirmNewPassword" class="col-sm-2 control-label">Confirm New Password</label>
                    <div class="col-sm-6">
                        <input type="password" name="ConfirmNewPassword" class="form-control" placeholder="**********" ng-model="vm.user.ConfirmNewPassword" maxlength="20" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='frmPassword.ConfirmNewPassword.$dirty && frmPassword.ConfirmNewPassword.$invalid'>Please input Old Password</div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save" 
                ng-click="save(vm.user)" ng-disabled="(frmPassword.$invalid || isSubmitting)"/>
            <input type="button" class="btn btn-danger" value="Cancel" 
                ng-click="cancel()" ng-disabled="(isSubmitted || isSubmitting)"/>           
        </div>
    </div>
</div>