<div class="container" ng-cloak>
    <div class="row">
        <h2>All Products (10)</h2>
        <h5>
            <a ui-sref="productCreate()">Add new product</a>                
        </h5>
    </div>        

    <div class="row row-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Product Id</th>
                    <th>Product Name</th>
                    <th>Description</th>
                    <th>Price</th>
                    <th>Colour</th>
                    <th>Status</th>
                    <th>Display</th>                        
                    <th>Add Review</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="p in products">
                    <td>{{ p.ProductId }}</td>
                    <td>{{ p.ProductName }}</td>
                    <td>{{ p.Description }}</td>
                    <td>{{ p.Price }}</td>
                    <td>{{ p.Colour }}</td>
                    <td>{{ p.Status }}</td>
                    <td><a ui-sref="productDetail({ productID: p.ProductId })">Display</a></td>                        
                    <td><a ui-sref="reviewProduct({ productID: p.ProductId })">Add Review</a></td>
                </tr>
            </tbody>
        </table>
    </div>
    <!-- <div class="row">
        <a style="cursor: pointer" ng-click="prevItem()" ng-hide="paging.prevIndex == 0">Prev</a>
        <a style="cursor: pointer" ng-click="nextItem()" ng-hide="paging.nextIndex == 0">Next</a>
    </div> -->

    <div class="row message-error" ng-show='(messageError.length > 0)'>{{ messageError }}</div>
    <div class="row message-success" ng-show='(messageSuccess.length > 0)'>{{ messageSuccess }}</div>
</div>
