<div class="container" ng-cloak>
    <h2>User Information</h2>

    <form class="form-horizontal">
        <div class="form-group">
            <label for="userType" class="col-sm-2 control-label">User Type</label>
            <div class="col-sm-6">
                <select id="userType"
                        class="form-control"
                        ng-model="vm.user.UserType"
                        ng-options="item.Key as item.Label for item in vm.userTypes"></select>
            </div>
        </div>
        <div class="form-group">
            <label for="brandDescription" class="col-sm-2 control-label">User Name</label>
            <div class="col-sm-6">
                <input id="brandDescription" ng-model="vm.user.UserName" class="form-control control-readonly" placeholder="description" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label for="brandDescription" class="col-sm-2 control-label">Email</label>
            <div class="col-sm-6">
                <input id="brandDescription" ng-model="vm.user.Email" class="form-control control-readonly" placeholder="description" readonly/>
            </div>
        </div>

        <div class="form-group">
            <label for="birthday" class="col-sm-2 control-label">Birthday</label>
            <div class="col-sm-6">
                <input id="birthday" type="date" class="form-control control-readonly" name="inputBirthday" ng-model="vm.user.Birthday"
                       placeholder="yyyy-MM-dd" min="1900-01-01" max="2999-01-01" readonly/>
            </div>
        </div>

        <div class="form-group">
            <div class="row message-error" ng-show='(vm.messageError.length > 0)'>{{ vm.messageError }}</div>
            <div class="row message-success" ng-show='(vm.messageSuccess.length > 0)'>{{ vm.messageSuccess }}</div> 
        </div>
    </form>       
</div>
