/************************************************************ eStore ************************************************************/
/* override navigation color*/
.navbar-inverse,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.active>a {
    background-color: #186c9b;
    border-color: #186c9b;
    background-image: linear-gradient(to bottom,#186c9b 0,#186c9b 100%);
    cursor: pointer;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}

.main-content {
    padding-top: 80px;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 30px;
}

/* estore-panel */
.panel.panel-default.estore-panel-default{
    /* border-radius: 8px 8px 8px 8px; */
}

.estore-panel-heading {
    background-color: #186c9b;
    border-color: #186c9b;
    background-image: linear-gradient(to bottom,#186c9b 0, #186c9b 100%) !important;
    /* border-radius: 8px 8px 0 0; */
}

.estore-panel-title {    
    color: white;
}

.estore-panel-title>label {
    margin: auto;
    font-weight: normal;
    font-size: 1em;
}

.estore-form-row {
    margin-left: 15px;
    margin-right: 15px;
}

.estore-panel-footer {
    background-color: white;
    /* border-radius: 0px 0px 8px 8px; */
}


/* row & controls */
.row.row-table {
    margin-right: 50px;
}

.estore-label {
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    font-size: 0.5em;
}

.estore-label-mandatory::after{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    content: "\f069";
    color: #be1e2d;
    font-size: 0.5em;
    padding: 0 0 0 2px;
    vertical-align: top;
}

.estore-product-image {
    margin: 1%;
    max-height: 400px;
    max-width: 600px;
}

.message-error {
    color: red;    
}
.message-success {
    color: green;
}
.control-readonly {
    background-color: white !important;
}

.form-login {
    max-width: 600px;
    margin: auto;
}

.btn-login {
    float: left;
}

.home-image {
	width: 100%;
}

/* pagination directive */
#pagination {
    display: "inline-block";
    width: 100%;
    padding-bottom: 30px;
}
#pagination>ul {
    float: left;
    margin: 0;
}

#pagination .form-control.page-select {
    float: right;
    max-width: 80px;
    height: 30px;
}


/* es-control */
input.form-control.es-control {
    width: 100%;
}

textarea.form-control.es-control {
    width: 100%;
}

select.form-control.es-control {
    width: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/