/************************************************************ eStore ************************************************************/
/* override navigation color*/
.navbar-inverse,
.navbar-inverse .navbar-nav>.open>a,
.navbar-inverse .navbar-nav>.active>a {
    background-color: #186c9b;
    border-color: #186c9b;
    background-image: linear-gradient(to bottom,#186c9b 0,#186c9b 100%);
    cursor: pointer;
}

.navbar-inverse .navbar-brand {
    color: white;
}
.navbar-inverse .navbar-nav>li>a {
    color: white;
}


.row.row-table {
    margin-right: 50px;
}
.message-error {
    color: red;    
}
.message-success {
    color: green;    
}
.control-readonly {
    background-color: white !important;
}

.main-content {
    padding-top: 80px;
}

.form-login {
    max-width: 600px;
    margin: auto;
}

.btn-login {
    float: left;
}

.home-image {
	width: 100%;
}

/* pagination directive */
.form-ng-pagination > ul {
    display: inline;
    padding-right: 20px;
}

.form-ng-pagination > select {
    max-width: 80px;
    max-height: 30px;
    display: inline;
}


/* es-control */
input.form-control.es-control {
    width: 100%;
}

textarea.form-control.es-control {
    width: 100%;
}

select.form-control.es-control {
    width: 100%;
}

/*-------------------------------------------------------------------------------------------------------------------------------------*/