<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading estore-panel-heading">
            <div class="panel-title estore-panel-title">
                <label>All Customers</label>
            </div>
        </div>
        <div class="panel-body" ng-cloak>
            <div class="row estore-form-row">
                <a ui-sref="customerEdit({ customerKey: null })">Add new customer</a>
            </div>
            <div class="row estore-form-row">
                <div class="row">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>                                
                                <th>Name</th>                                
                                <th>Tel</th>
                                <th>Email</th>
                                <th>Fax</th>
                                <th>Representative</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="c in customers">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ c.CustomerName }}</td>
                                <td>{{ c.Tel }}</td>
                                <td>{{ c.Email }}</td>
                                <td>{{ c.Fax }}</td>
                                <td>{{ c.Representative }}</td>
                                <td><a ui-sref="customerEdit({ customerKey: c.CustomerKey })">Edit</a></td>
                                <td><a ui-sref="deleteCustomer(c.customerId)">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer estore-panel-footer">
            <ng-pagination pagination="pagination" on-get-data="getCustomers()" />
        </div>
    </div>    
</div>
