<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ formTitle }}</h3>
        </div>    
        <div class="panel-body" ng-cloak>
            <form name="frmCustomer" class="form-horizontal">
                <div class="form-group">
                    <label for="CustomerName" class="col-sm-2 control-label">Name</label>
                    <div class="col-sm-6">
                        <input name="CustomerName" class="form-control" placeholder="Customer Name" ng-model="customer.CustomerName" maxlength="50" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.CustomerName.$dirty && frmCustomer.CustomerName.$invalid'>Please input Customer Name</div>
                </div>                

                <div class="form-group">
                    <label for="Email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input name="Email" class="form-control" placeholder="Email" ng-model="customer.Email" maxlength="50"/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.Email.$dirty && frmCustomer.Email.$invalid'>Please input Email</div>
                </div>

                <div class="form-group">
                    <label for="Mobile" class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-6">
                        <input name="Mobile" class="form-control" placeholder="Mobile" ng-model="customer.Mobile" maxlength="50"/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.Mobile.$dirty && frmCustomer.Mobile.$invalid'>Please input Email</div>
                </div>

                <div class="form-group">
                    <label for="Tel" class="col-sm-2 control-label">Tel</label>
                    <div class="col-sm-6">
                        <input name="Tel" class="form-control" placeholder="Tel" ng-model="customer.Tel" maxlength="50"/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.Tel.$dirty && frmCustomer.Tel.$invalid'>Please input Tel</div>
                </div>

                <div class="form-group">
                    <label for="Fax" class="col-sm-2 control-label">Fax</label>
                    <div class="col-sm-6">
                        <input name="Fax" class="form-control" placeholder="Fax" ng-model="customer.Fax" maxlength="50"/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.Fax.$dirty && frmCustomer.Fax.$invalid'>Please input Fax</div>
                </div>

                <div class="form-group">
                    <label for="Representative" class="col-sm-2 control-label">Representative</label>
                    <div class="col-sm-6">
                        <input name="Representative" class="form-control" placeholder="Representative" ng-model="customer.Representative" maxlength="50"/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.Representative.$dirty && frmCustomer.Representative.$invalid'>Please input Representative</div>
                </div>

                <div class="form-group">
                    <label for="Title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-6">
                        <input name="Title" class="form-control" placeholder="Title" ng-model="customer.Title" maxlength="50"/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.Title.$dirty && frmCustomer.Title.$invalid'>Please input Title</div>
                </div>

                <div class="form-group">
                    <label for="Address" class="col-sm-2 control-label">Address</label>
                    <div class="col-sm-6">
                        <textarea name="Address" class="form-control" placeholder="Address" ng-model="customer.Address" maxlength="250"/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmCustomer.Address.$dirty && frmCustomer.Address.$invalid'>Please input Address</div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea name="Description" class="form-control" placeholder="Description" ng-model="customer.Description" maxlength="250"/>
                    </div>                    
                </div>

                <div class="form-group">
                    <div class='control-label col-sm-8 message-error' ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>                        
                    <div class='control-label col-sm-8 message-success' ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save" 
                ng-click="save(customer)" ng-disabled="(frmCustomer.$invalid || isSubmitting)"/>
            <input type="button" class="btn btn-danger" value="Cancel" 
                ng-click="cancel()" ng-disabled="(isSubmitted || isSubmitting)" />
            <span ng-show="isSubmitting">
                <img ng-if="isSubmitting" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </span>
        </div>
    </div>
</div>   
