<div class="panel-group">
    <div class="panel panel-default">
        <div class="panel-heading estore-panel-heading">
            <div class="panel-title estore-panel-title">
                <label>All Groups</label>
            </div>
        </div>
        <div class="panel-body" ng-cloak>
            <div class="row estore-form-row">
                <!-- <a ui-sref="groupEdit({ groupKey: null })">Add new group</a> -->
            </div>
            <div class="row estore-form-row">
                <div class="row row-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Group Name</th>
                                <th>Description</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="g in groups">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ g.GroupName }}</td>
                                <td>{{ g.Description }}</td>
                                <td><a ui-sref="groupEdit({ groupKey: g.GroupKey })">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer estore-panel-footer">
            ng-paginator
        </div>
    </div>   	
</div>
