<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" ui-sref="home">eCargo</a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a ui-sref="brand">Brands</a></li>
                <li><a ui-sref="product">Products</a></li>
                <li><a ui-sref="account">Accounts</a></li>
                <li><a ui-sref="inventory">Inventory</a></li>
                <li><a ui-sref="user">Users</a></li>                                
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a ui-sref="register" id="registerLink">Register</a></li>
                <li><a ui-sref="login" id="loginLink">Login</a></li>
            </ul>
        </div>
    </div>
</div>