<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Product Information</h3>
        </div>
        <div class="panel-body" ng-cloak>
            <form name="frmProduct" class="form-horizontal">
                <div class="form-group">
                    <label for="productName" class="col-sm-2 control-label">Product Name</label>
                    <div class="col-sm-6">
                        <input id="productName" class="form-control control-readonly" placeholder="product name" ng-model="product.ProductName" maxlength="50" required/>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="productDescription" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea id="productDescription" class="form-control control-readonly" placeholder="description" ng-model="product.Description" />
                    </div>
                </div>           
                           
                <div class="form-group">
                    <label for="Price" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-6">
                        <input id="Price" ng-model="product.Price" class="form-control control-readonly" placeholder="Price" readonly/>
                    </div>
                </div>                            
            </form>
        </div>        
    </div>    
</div> 

<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Review</h3>
        </div>
        <div class="panel-body" ng-cloak>
            <form name="formReview" class="form-horizontal" novalidate>
                <div class="form-group">
                    <label for="productName" class="col-sm-2 control-label">Rating <span style="color: red">(*)</span></label>
                    <div class="col-sm-6">
                        <input name="Rating" type="text" class="form-control" maxlength="1" ng-model="review.Rating" numbers-only required />
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='(formReview.Rating.$dirty && formReview.Rating.$invalid)'>Please input rating (number)</div>
                </div>
                <div class="form-group">
                    <label for="Comment" class="col-sm-2 control-label">Comment <span style="color: red">(*)</span></label>
                    <div class="col-sm-6">
                        <textarea name="Comment" type="textarea" class="form-control" ng-model="review.Comment" rows="3" maxlength="200" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='(formReview.Comment.$dirty && formReview.Comment.$invalid)'>Please input your comment</div>
                </div>
                <div class="form-group">
                    <label for="Email" class="col-sm-2 control-label">Email <span style="color: red">(*)</span></label>
                    <div class="col-sm-6">
                        <input name="Email" type="email" class="form-control" ng-model="review.Email" maxlength="30" required/>
                        <br />
                        <span>sample: avo4@hvn.com</span>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='(formReview.Email.$dirty && formReview.Email.$error.required)'>Please input your email</div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='(formReview.Email.$dirty && formReview.Email.$error.email)'>Invalid email format</div> 
                </div>
                
                <div class="form-group">
                    <div class='control-label col-sm-8 message-success' ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>                
                    <div class='control-label col-sm-8 message-error' ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                </div>

                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <input type="button" class="btn btn-primary" value="Save" ng-click="save()"/>
                        <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()"/>
                    </div>
                </div>
            </form>
        </div>        
    </div>    
</div>
