<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Accounts</h3>
        </div>
        <div class="panel-body">
            <p><a ui-sref="accountEdit({ accountKey: null })">Add new account</a></p>
            <div class="container" ng-cloak>
                <div class="row row-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Account No</th>
                                <th>Account Name</th>                    
                                <th>Description</th>
                                <th>Edit</th>
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="acct in vm.accounts">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ acct.AccountNo }}</td>
                                <td>{{ acct.AccountName }}</td>
                                <td>{{ acct.Description }}</td>                                
                                <td><a ui-sref="accountEdit({ accountKey: acct.accountKey })">Edit</a></td>
                                <td><a ui-sref="deleteAccount(acct.AccountId)">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="message-error" ng-show='(vm.messageError.length > 0)'>{{ vm.messageError }}</div>
                    <div class="message-success" ng-show='(vm.messageSuccess.length > 0)'>{{ vm.messageSuccess }}</div>
                </div>
            </div>
        </div>
        <!-- <div class="panel-footer">ng-paginator</div> -->
    </div>    
</div>
