<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ formTitle }}</h3>
        </div>    
        <div class="panel-body" ng-cloak>
            <form name="frmAccount" class="form-horizontal">
                <div class="form-group">
                    <label for="acctNo" class="col-sm-2 control-label">Account No</label>
                    <div class="col-sm-6">
                        <input name="acctNo" class="form-control" placeholder="account no" ng-model="account.AccountNo" maxlength="20" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmAccount.acctNo.$dirty && frmAccount.acctNo.$invalid'>Please input Acct No</div>
                </div>
        
                <div class="form-group">
                    <label for="acctName" class="col-sm-2 control-label">Account Name</label>
                    <div class="col-sm-6">
                        <input name="acctName" class="form-control" placeholder="account name" ng-model="account.AccountName" maxlength="45" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmAccount.acctName.$dirty && frmAccount.acctName.$invalid'>Please input Acct Name</div>
                </div>

                <div class="form-group">
                    <label for="acctDescription" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea name="acctDescription" class="form-control" placeholder="description" ng-model="account.Description" maxlength="50" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                        ng-show='frmAccount.acctDescription.$dirty && frmAccount.acctDescription.$invalid'>Please input description</div>
                </div>

                <div class="form-group">
                    <div class='control-label col-sm-8 message-error' ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>                        
                    <div class='control-label col-sm-8 message-success' ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save" ng-click="save()" ng-disabled="disabledButton"/>
            <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()" ng-disabled="disabledButton"/>          
        </div>
    </div>
</div>   
