<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Brands</h3>
        </div>
        <div class="panel-body">
            <p><a ui-sref="brandEdit({ brandKey: null })">Add new brand</a></p>
            <div class="container" ng-cloak>                
                <div class="row row-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Brand Id</th>
                                <th>Brand Name</th>                    
                                <th>Description</th>
                                <th>Edit</th>                    
                                <th>Delete</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="brand in brands">
                                <td>{{ brand.BrandId }}</td>
                                <td>{{ brand.BrandName }}</td>
                                <td>{{ brand.Description }}</td>                                
                                <td><a ui-sref="brandEdit({ brandKey: brand.BrandKey })">Edit</a></td>
                                <td><a ng-click="deleteBrand(brand.BrandId)">Delete</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">
            <ng-pagination pagination="pagination" on-get-data="getBrands()" />
        </div>
    </div>
</div>
