<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Cash Out</h3>
        </div>
        <div class="panel-body">
            <p><a ui-sref="cashDetail({ cashId: null, formStatus: 1 })">Add new item</a></p>
            <div class="container" ng-cloak>
                <div class="row row-table table-responsive">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Transaction No</th>
                                <th>Transaction Date</th>
                                <th>Debit Acct</th>
                                <th>Credit Acct</th>
                                <th>Currency</th>
                                <th>Total Amount</th>
                                <th>Edit</th>                                
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="cash in vm.transactions">
                                <td>{{ ($index + 1) }}</td>
                                <td>{{ cash.TransactionNo }}</td>
                                <td>{{ cash.TransactionDate }}</td>
                                <td>{{ cash.DebitAcctNo }}</td>
                                <td>{{ cash.CreditAcctNo }}</td>
                                <td>{{ cash.Currency }}</td>
                                <td>{{ cash.TotalAmount }}</td>
                                <td><a ui-sref="cashOutDetail({ transactionID: cash.TransactionId })">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">ng-paginator</div>
    </div>
</div>
