<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ formTitle }}</h3>
        </div>
        <div class="panel-body" ng-cloak>
            <form name="frmGroup" class="form-horizontal">
                <div class="form-group">
                    <label for="GroupName" class="col-sm-2 control-label">Group Name</label>
                    <div class="col-sm-6">
                        <input name="GroupName" class="form-control" placeholder="Group Name" ng-model="group.GroupName" maxlength="20" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='frmGroup.GroupName.$dirty && frmGroup.GroupName.$invalid'>Please input name</div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea name="Description" class="form-control" placeholder="Description" ng-model="group.Description" />
                    </div>                    
                </div>
                                
                <div class="row">
                    <div class="message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save" ng-click="save()" ng-disabled="true"/>
            <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()"/>
        </div>
    </div>
</div>