<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ formTitle }}</h3>
        </div>
        <div class="panel-body" ng-cloak>
            <form name="frmBrand" class="form-horizontal">
                <div class="form-group">
                    <label for="brandName" class="col-sm-2 control-label">Brand Name</label>
                    <div class="col-sm-6">
                        <input name="brandName" class="form-control" placeholder="name"
                            ng-model="brand.BrandName" maxlength="20" required/>
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='frmBrand.brandName.$dirty && frmBrand.brandName.$invalid'>Please input name</div>
                </div>

                <div class="form-group">
                    <label for="brandDescription" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea name="brandDescription" class="form-control" placeholder="description" ng-model="brand.Description" ng-disabled="(formStatus === appCommon.formStatus.isView)" />
                    </div>
                    <div class='control-label col-sm-8 message-error'
                         ng-show='frmBrand.brandDescription.$dirty && frmBrand.brandDescription.$invalid'>Please input description</div>
                </div>
                                
                <div class="form-group">
                    <div class='control-label col-sm-8 message-error' ng-show='(messageError.length > 0)'>{{ messageError }}</div>                    
                    <div class='control-label col-sm-8 message-success' ng-show='(messageSuccess.length > 0)'>{{ messageSuccess }}</div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save" ng-click="save()" ng-disabled="true"/>
            <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()"/>
        </div>
    </div>
</div>
