<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ formTitle }}</h3>
        </div>
        <div class="panel-body" ng-cloak>
            <form name="frmProduct" class="form-horizontal">
                <div class="form-group">
                    <label for="productName" class="col-sm-2 control-label">Product Name</label>
                    <div class="col-sm-6">
                        <input id="productName" class="form-control control-readonly" placeholder="product name" ng-model="product.ProductName" maxlength="50" required/>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="BrandId" class="col-sm-2 control-label">Brand Name</label>
                    <div class="col-sm-6">
                        <select name="BrandId" 
                            class="form-control"
                            ng-model="product.BrandId"
                            ng-change="changeSelectedBrand()"
                            ng-options="item.BrandId as item.BrandName for item in brands"
                            required>
                            <option value="">---Please select---</option>
                        </select>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="Price" class="col-sm-2 control-label">Price</label>
                    <div class="col-sm-6">
                        <input id="Price" ng-model="product.Price" class="form-control control-readonly" placeholder="Price" readonly/>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="Colour" class="col-sm-2 control-label">Color</label>
                    <div class="col-sm-6">
                        <input id="Colour" ng-model="product.Colour" class="form-control control-readonly" placeholder="Colour" readonly/>
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="Colour" class="col-sm-2 control-label">Status</label>
                    <div class="col-sm-6">
                        <input id="Status" ng-model="product.Status" class="form-control control-readonly" placeholder="Status" readonly/>
                    </div>
                </div>

                <div class="form-group">
                    <label for="productDescription" class="col-sm-2 control-label">Description</label>
                    <div class="col-sm-6">
                        <textarea id="productDescription" class="form-control control-readonly" placeholder="description" ng-model="product.Description" />
                    </div>
                </div>
                
                <div class="form-group">
                    <div class="row message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="row message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </form>
        </div>
        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save" ng-click="save()" ng-disabled="true"/>
            <input type="button" class="btn btn-danger" value="Cancel" ng-click="cancel()"/>
        </div>
    </div>    
</div>        
