<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">All Users</h3>
        </div>
        <div class="panel-body">
            <p><a ui-sref="userEdit({ UserId: null })">Add new user</a></p>
            <div class="container" ng-cloak>
                <div class="row row-table">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>User Type</th>
                                <th>User Name</th>
                                <th>Display Name</th>
                                <th>Email</th>
                                <th>Birthday</th>
                                <th>Edit</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="user in users">
                                <td>{{ $index + 1 }}</td>
                                <td>{{ user.UserType }}</td>
                                <td>{{ user.UserName }}</td>
                                <td>{{ user.DisplayName }}</td>
                                <td>{{ user.Email }}</td>
                                <td>{{ user.Birthday }}</td>
                                <td><a ui-sref="userEdit({ userKey: user.UserKey })">Edit</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageSuccess">{{ msg }}</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="panel-footer">ng-paginator</div>
    </div>   	
</div>
