<div class="container">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">{{ formTitle }}</h3>
        </div>

        <div class="panel-body" ng-cloak>
            <form name="frmUser" class="form-horizontal">
                <!--
                <div class="form-group">
                    <label for="userType" class="col-sm-2 control-label">User Type</label>
                    <div class="col-sm-6">
                        <select id="userType"
                                class="form-control"
                                ng-init="user.UserType = userTypes[0].Key"
                                ng-model="user.UserType"
                                ng-change="changeSelectedUserType(item)"
                                ng-options="item.Key as item.Label for item in userTypes">
                        </select>
                    </div>
                </div> 
                -->
                
                <div class="form-group">
                    <label for="UserName" class="col-sm-2 control-label">User Name</label>
                    <div class="col-sm-6">
                        <input id="UserName" ng-model="user.UserName" class="form-control" placeholder="User Name" maxlength="20" required />
                    </div>
                </div>
        
                <div class="form-group">
                    <label for="DisplayName" class="col-sm-2 control-label">Display Name</label>
                    <div class="col-sm-6">
                        <input id="DisplayName" ng-model="user.DisplayName" class="form-control" placeholder="Display Name" maxlength="50" />
                    </div>
                </div>
                
                <div class="form-group">
                    <label for="Birthday" class="col-sm-2 control-label">Birthday</label>
                    <div class="col-sm-6">
                        <ng-input-date name='Birthday' value='user.Birthday' format='dd/MM/yyyy' />
                    </div>
                </div>               

                <div class="form-group">
                    <label for="Email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-6">
                        <input id="Email" ng-model="user.Email" class="form-control" placeholder="Email" maxlength="50" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Mobile" class="col-sm-2 control-label">Mobile</label>
                    <div class="col-sm-6">
                        <input id="Mobile" ng-model="user.Mobile" class="form-control" placeholder="Mobile" maxlength="50" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Title" class="col-sm-2 control-label">Title</label>
                    <div class="col-sm-6">
                        <input id="Title" ng-model="user.Title" class="form-control" placeholder="Title" maxlength="50" />
                    </div>
                </div>

                <div class="form-group">
                    <label for="Description" class="col-sm-2 control-label">Fafourite</label>
                    <div class="col-sm-6">
                        <textarea id="Description" ng-model="user.Description" class="form-control" placeholder="Description" maxlength="250" />
                    </div>
                </div>
        
                <div class="form-group">
                    <div class="row message-error" ng-show='(messageError.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div>
                    <div class="row message-success" ng-show='(messageSuccess.length > 0)'>
                        <span ng-repeat="msg in messageError">{{ msg }}</span>
                    </div> 
                </div>
            </form> 
        </div>

        <div class="panel-footer">
            <input type="button" class="btn btn-primary" value="Save" 
                ng-click="save(user)" ng-disabled="(frmUser.$invalid || isSubmitting)"/>
            <input type="button" class="btn btn-danger" value="Cancel" 
                ng-click="cancel()" ng-disabled="(isSubmitted || isSubmitting)"/>
            <span ng-show="isSubmitting">                
                <img ng-if="isSubmitting" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
            </span>
        </div>
    </div>
</div>
