<search-control></search-control>

<div class="container" ng-cloak>
    <div class="row">
        <h2>Results</h2>
    </div>        

    <div class="row row-table">
        <table class="table">
            <thead>   
                <tr>
                    <th>City</th>
                    <th>Country</th>                    
                    <th>Restaurant's Name</th>                    
                </tr>            
            </thead>
            <tbody>
                <tr ng-repeat="row in searchResult">
                    <td>{{ row.city }}</td>
                    <td>{{ row.country }}</td>
                    <td>{{ row.name }}</td>                    
                </tr>         
            </tbody>
        </table>
    </div>    
</div>
