<div search-control></div>

<div class="container" ng-cloak>
    <div class="row">
        <h2>Cash In</h2>
    </div>

    <div class="row row-table">
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Transaction No</th>
                    <th>Transaction Date</th>                    
                    <th>Debit Acct</th>
                    <th>Credit Acct</th>
                    <th>Currency</th>
                    <th>Total Amount</th>
                    <th>Edit</th>
                    <!--<th>Delete</th>-->
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="cash in vm.cashIns">
                    <td>{{ cash.TransactionId }}</td>
                    <td>{{ cash.TransactionNo }}</td>
                    <td>{{ cash.TransactionDate }}</td>
                    <td>{{ cash.DebitAcctNo }}</td>
                    <td>{{ cash.CreditAcctNo }}</td>
                    <td>{{ cash.Currency }}</td>
                    <td>{{ cash.TotalAmount }}</td>
                    <td><a ui-sref="cashInDetail({ cashID: cash.TransactionId })">Edit</a></td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="row message-error" ng-show='(vm.messageError.length > 0)'>{{ vm.messageError }}</div>
    <div class="row message-success" ng-show='(vm.messageSuccess.length > 0)'>{{ vm.messageSuccess }}</div>
</div>
